@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% { 
    transform: translateY(-5vh) rotate(0deg) translateX(0);
  }
  50% {
    transform: translateY(100vh) rotate(180deg) translateX(var(--drift));
  }
  100% { 
    transform: translateY(200vh) rotate(360deg) translateX(0);
  }
}
.animate-fall {
  animation: fall linear forwards;
  --drift: 0px;
}
